@font-face{
    font-family: "FuenteLinda";
    src: url("fonts/ComicNeue-Regular.ttf");
}

#listanav li{
    display: inline-block;
    padding: 5px;
}

#listanav{
    text-align: center;
}

body{
    background-color: rgb(144, 214, 226);
    font-family: 'FuenteLinda';
    font-size: xx-large
}

h1{
    color: rgb(18, 68, 117);
}

div{
    width: 100%;
}

img {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.Texto{
    width: 100%;
    background-color: #3888dd;
    text-align: center;
}

.Foto{  
    width: 30%;
    display: inline-block;
    margin-left: 30%;
    margin-right: 30%;
}

/*BOTON*/
.boton{
    display: block;
}

.myButton  {
    
        box-shadow:inset 0px 1px 0px 0px #dcecfb;
        background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
        background-color:#7bacdd;
        border-radius:8px;
        border:1px solid #b8d6f5;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Trebuchet MS;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #528ecc;
}
    .myButton:hover {
        background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
        background-color:#80b5ea;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    
            
