@font-face{
    font-family: "FuenteLinda";
    src: url("fonts/ComicNeue-Regular.ttf");
}

#listanav li{
    display: inline-block;
    padding: 5px;
}

#listanav{
    text-align: center;
}

body{
    background-color: rgb(28, 94, 133);
    font-family: 'FuenteLinda';
    font-size: xx-large
}

h1{
    color: rgb(5, 18, 24);
}

div{
    width: 100%;
}

img {
    width: 100%;
}

p{  
    color: darkkhaki;
    background: rgb(28, 94, 133);
}

.parrafo{
    padding: 1%;
}

.Texto{
    width: 100%;
    background-color: #3888dd;
    text-align: center;
    background: #308bc0;
}

.Foto{  
    display: inline-block;
    text-align: center;
    align-self: center;
}

/*BOTON*/
.boton{
    display: block;
}

.myButton  {
    
        box-shadow:inset 0px 1px 0px 0px #dcecfb;
        background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
        background-color:#7bacdd;
        border-radius:8px;
        border:1px solid #b8d6f5;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Trebuchet MS;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #528ecc;
}
    .myButton:hover {
        background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
        background-color:#80b5ea;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }

.fondo{
    z-index: -100;
    object-fit: cover;
    margin: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}

.flex-container  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Carpeta{
    flex-direction: column;
}

.Varones{
table th{
    background-color: coral;
    border: 5px darksalmon;
    border-style: double;
}
table td{
    background-color: beige;
    border: 5px darksalmon;
}
    }

.Mujeres{
table th {
    background-color: rgb(62, 2, 204);
    border: 5px rgb(161, 144, 240);
    border-style: double;
}
table td{
    background-color: rgb(223, 212, 245);
    border: 5px rgb(117, 61, 223);
}
}
            
